#imagen1{
    width: 100px;
    height: 350px;
    background-size: cover;
}
#imagen2{
    width: 100px;
    height: 350px;
    background-size: cover;
}
#imagen3{
    width: 100px;
    height: 350px;
    background-size: cover;
}
