<div class="col-md-12 mt-5">
    <h4 class="text-center">Resultados</h4>
</div>

<div class="col-md-12 mt-4 pt-3 result">
    <div class="form-group row mt-3 offset-md-1">
        <label class="col-form-label col-md-2 letra">
            <b>Necesito:</b>
        </label>
        <input type="text" readonly class="form-control-plaintext col-md-3 input1 offset-md-1">
        <label class="col-form-label  letra offset-md-1 col-md-4">
            <b>kcal para perder peso</b>
        </label>
    </div>
    <div class="form-group row mt-3 offset-md-1">
        <label class="col-form-label col-md-2 letra">
            <b>Necesito:</b>
        </label>
        <input type="text" readonly class="form-control-plaintext col-md-3 input1 offset-md-1">
        <label class="col-form-label  letra offset-md-1 col-md-4">
            <b>kcal para mantener peso</b>
        </label>
    </div>
    <div class="form-group row mt-3 offset-md-1">
        <label class="col-form-label col-md-2 letra">
            <b>Necesito:</b>
        </label>
        <input type="text" readonly class="form-control-plaintext col-md-3 input1 offset-md-1">
        <label class="col-form-label  letra offset-md-1 col-md-4">
            <b>kcal para ganar peso</b>
        </label>
    </div>
</div>