<div class="container-fluid">

  <div class="row">

    <div class="col-md-12">

      <div class="row">
        <div id="logonav" class="text-center col-md-12">
          <img src="../assets/images/logo.gif" class="my-3" alt="Logotipo FIME">
        </div>
      </div>

      <app-navbar class="row"></app-navbar>

      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <router-outlet class="row p-3"></router-outlet>
          </div>
          <app-frases-motivacionales class="col-md-3"></app-frases-motivacionales>
        </div>
      </div>
      <app-footer class="row"></app-footer>
    </div>
  </div>
</div>